<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>    
    <form action="" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="race">Race:</label>
        <select id="race" name="race">
            <%races.map(race =>{%>
                <option value="<%=race.id%>"><%=race.ra_name%></option>
            <%})%>
        </select>
        <label for="role">Role:</label>
        <select id="role" name="role">
            <%roles.map(role =>{%>
                <option value="<%=role.id%>"><%=role.ro_name%></option>
            <%})%>
        </select>
        <input type="submit" value="Send">
    </form>
</body>
</html>