<!DOCTYPE html>
<html lang="en">
<%-include('head', title)%>
<body>    
    <form action="" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%=character.ch_name%>">
        <label for="race">Race:</label>
        <select id="race" name="race" value="<%=character.ch_race_id%>">
            <%races.map(race =>{%>
                <option value="<%=race.id%>"><%=race.ra_name%></option>
            <%})%>
        </select>
        <label for="role">Role:</label>
        <select id="role" name="role" value="<%=character.ch_role_id%>">
            <%roles.map(role =>{%>
                <option value="<%=role.id%>"><%=role.ro_name%></option>
            <%})%>
        </select>
        <input type="submit" value="Edit">
    </form>
</body>
</html>